Package: utopia-desktop-mate
Source: utopia-meta
Version: 2014.09.18
Architecture: all
Maintainer: James Lu <glolol@overdrive.pw>
Installed-Size: 27
Depends: mate-desktop-environment, galculator, utopia-desktop
Recommends: mate-desktop-environment-extras, mintmenu (>= 5.5.8~), utopia-mate-defaults, dconf-editor, libreoffice-gtk
Suggests: utopia-themes, caja-dropbox (>= 0.7.1~)
Section: misc
Priority: optional
Homepage: https://github.com/GLolol/utopia-packages
Description: Utopia Desktop Collection - MATE (meta-package)
 Utopia meta-package for pulling in a MATE desktop.
