Package: utopia-desktop-mate
Source: utopia-desktop
Version: 2014.08.19
Architecture: all
Maintainer: James Lu <glolol@overdrive.pw>
Installed-Size: 26
Depends: mate-desktop-environment, galculator, utopia-desktop (>= 2014.08.14)
Recommends: mate-desktop-environment-extras, mintmenu (>= 5.5.8~)
Suggests: utopia-themes, caja-dropbox (>= 0.7.1~)
Section: misc
Priority: optional
Homepage: https://github.com/GLolol/utopia-packages
Description: Utopia Desktop Collection - MATE (meta-package)
 Utopia meta-package for pulling in a MATE desktop.
