Source: utopia-meta
Section: misc
Priority: optional
Homepage: https://github.com/GLolol/utopia-packages
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Maintainer: James Lu <glolol@overdrive.pw>

Package: utopia-desktop
Depends: ${misc:Depends},
 desktop-base,
 lxterminal | x-terminal-emulator,
 xorg,
 utopia-baseutils
Recommends: lightdm | x-display-manager,
 alsa-utils,
 fuse,
 gvfs-backends,
 ntfs-3g,
 eject,
 avahi-daemon,
 cups,
 cifs-utils,
 fonts-droid,
 fonts-liberation,
 fonts-dejavu,
 acpi-support,
 utopia-accessories
Suggests: utopia-desktop-cinnamon | utopia-desktop-mate | utopia-desktop-lxde,
 utopia-multimedia,
 utopia-network,
 utopia-office,
 utopia-devel-gui
Breaks: xul-ext-ubufox, ubufox
Architecture: all
Description: Utopia Desktop Collection (common files)
 This meta-package fetches some common, desktop-independent utilities.

Package: utopia-multimedia
Depends: ${misc:Depends}
Recommends: vlc, browser-plugin-vlc,
 optipng | pngcrush,
 ffmpeg (>= 7:1.0.0),
 mediainfo,
 mediainfo-gui,
 spek,
 audacity,
 gimp,
 audacious,
 gimp-plugin-registry,
 jpegoptim
Suggests: inkscape,
 cheese,
 puddletag,
 vlc-plugin-fluidsynth,
 isomaster,
Architecture: all
Description: Utopia Multimedia Collection (meta-package)
 Pulls in some useful packages for working with media files
 (audio, video, and images).

Package: utopia-accessories
Depends: ${misc:Depends},
 synaptic,
 gdebi | gdebi-kde,
 gparted
Recommends: geany | kate, galculator
Suggests: ibus, simple-scan, baobab, vinagre
Architecture: all
Description: Utopia Utilities Collection (meta-package)
 This meta-package pulls in some useful accessories for daily use and
 administrative tasks.

Package: utopia-network
Depends: ${misc:Depends}
Recommends: iceweasel | firefox,
 google-chrome-stable,
 hexchat,
 thunderbird | icedove,
 deluge | transmission
Architecture: all
Description: Utopia Utilities Collection (meta-package)
 This meta-package pulls in some utilities related to networking.

Package: utopia-office
Depends: ${misc:Depends},
 libreoffice-writer | abiword,
 libreoffice-calc | gnumeric
Recommends: hyphen-en-us,
 hunspell-en-us,
 mythes-en-us,
 browser-plugin-libreoffice,
 libreoffice-impress
Suggests: libreoffice
Architecture: all
Description: Utopia Office Collection (meta-package)
 This meta-package will pull in useful office applications, such as a
 word processor, spreadsheet editor, and presentation program.

Package: utopia-baseutils
Depends: ${misc:Depends},
 nano,
 screen,
 git,
 htop,
 wget | curl,
 sudo,
 less,
 python,
 bind9-host | host,
 openssh-client,
 traceroute
Recommends: iptables,
 command-not-found,
 file,
 wget,
 screenfetch,
 scrot,
 rsync,
 tree,
 iftop,
 utopia-keyring
Suggests: elinks | lynx | www-browser,
 utopia-devel
Architecture: all
Description: Utopia Base Collection (meta-package)
 A collection of somewhat useful command-line utilities.

Package: utopia-devel
Depends: ${misc:Depends},
 build-essential,
 devscripts,
 dos2unix,
 utopia-baseutils,
 lsb-release,
 automake,
 debhelper
Recommends:
 bash-completion,
 cmake,
 convmv,
 pkg-config,
 hwinfo,
 finger,
 deborphan,
 nmap,
 mtr | mtr-tiny,
 iotop,
 python-pip,
 optipng | pngcrush,
 jpegoptim,
 graphviz,
 debootstrap,
 debtree,
 apt-rdepends,
 ruby-dev,
 quilt
Suggests: scons,
 tcpdump,
 cowbuilder,
 imagemagick,
 bison,
 flex,
 debian-security-support,
 libssl-dev,
 yasm
Architecture: all
Description: Utopia Development Collection (meta-package)
 A collection of utilities to assist with system administration,
 compiling software, and more.

Package: utopia-devel-gui
Depends: ${misc:Depends},
 utopia-devel,
 gitg | qgit | tig | gitk,
 utopia-accessories
Recommends: python-tk, python3-tk,
 geany-plugin-markdown,
 geany-plugin-spellcheck,
 geany-plugin-lipsum
Suggests: libgtk2.0-dev,
 libgtk-3-dev
Architecture: all
Description: Utopia Development Collection (GUI)
 A collection of GUI utilities to assist with system administration,
 compiling software, and more.

Package: utopia-desktop-mate
Depends: ${misc:Depends},
 mate-desktop-environment,
 utopia-desktop,
Recommends: mintmenu (>= 5.5.8~),
 utopia-mate-defaults,
 dconf-editor | dconf-tools,
 mozo,
 caja-open-terminal,
 caja-gksu,
 mate-netspeed,
 caja-share,
 mate-system-tools
Suggests: utopia-themes, mate-desktop-environment-extras
Architecture: all
Description: Utopia Desktop Collection - MATE (meta-package)
 Utopia meta-package for pulling in a MATE desktop.

Package: utopia-themes
Depends: ${misc:Depends},
 mint-x-icons,
 mint-themes,
 mint-themes-gtk3,
 ttf-ubuntu-font-family
Recommends:
 numix-icon-theme-bevel,
 numix-icon-theme-circle,
 numix-gtk-theme
Suggests: lubuntu-icon-theme
Architecture: all
Description: Utopia Themes Collection (meta-package)
 A collection of themes available for the Linux desktop.

Package: utopia-desktop-cinnamon
Depends: ${misc:Depends},
 utopia-desktop,
 cinnamon-core,
 mate-terminal | gnome-terminal | x-terminal-emulator,
 eog,
 evince | evince-gtk
Recommends: utopia-themes,
 cinnamon-themes,
 utopia-cinnamon-defaults,
 dconf-editor | gconf-editor,
 gnome-system-monitor | mate-system-monitor,
 nemo-fileroller,
 gnome-screenshot,
 gnome-font-viewer,
 baobab,
 gnome-system-log
Suggests: brasero,
 gedit | pluma
Breaks: nautilus
Architecture: all
Description: Utopia Desktop - Cinnamon edition (meta-package)
 This meta-package will pull in the Cinnamon Desktop Environment.

Package: utopia-desktop-lxde
Depends: ${misc:Depends},
 lxde-core,
 gpicview,
 lxappearance,
 lxappearance-obconf,
 obconf,
 lxterminal,
 utopia-desktop,
 lxinput,
 lxsession
Recommends: engrampa | xarchiver | file-roller,
# lxsession-edit and lxpolkit are merged into lxsession in jessie+, but
# I'm keeping them here for compatibility with wheezy
 lxsession-edit,
 lxpolkit,
 lxrandr,
 leafpad,
 volumeicon-alsa,
 xfce4-mixer,
 xfce4-screenshooter,
 evince-gtk | atril,
 lxtask,
 wicd | network-manager-gnome,
 lubuntu-artwork,
 libfm-tools | lxshortcut,
Suggests:
 utopia-office,
 usermode,
 gnome-disk-utility,
 gnome-system-tools,
 xfburn,
 xfwm4
Architecture: all
Description: Utopia Desktop Collection - LXDE (meta-package)
 This meta-package will pull in an LXDE desktop.

Package: utopia-games
Depends: ${misc:Depends},
 figlet,
 cowsay
Recommends: lolcat,
 toilet,
 fortune-mod,
 cmatrix,
 an,
 fortunes-debian-hints,
 polygen, polygen-data,
 bsdgames,
 fortunes,
 caca-utils
Suggests: pacman4console,
 freesweep,
 tint,
 nsnake,
 sudoku
Architecture: all
Description: Utopia Games/Toys Collection (CLI)
 This meta-package pulls in some interactive games/toys suitable for a
 text-only/command line interface.

Package: utopia-games-gui
Depends: ${misc:Depends},
 utopia-games,
 kpat | aisleriot,
 chromium-bsu,
 kmines | gnome-mines,
 kblocks | quadrapassel
Recommends: knetwalk,
 kollision,
 lightsoff,
 granatier,
 bovo,
 kbreakout,
 kdiamond,
 klickety,
 kreversi,
 ktron,
 ksquares,
 ksudoku | gnome-sudoku,
 neverball,
 neverputt
Suggests: lincity-ng,
 gnome-tetravex,
 kolf,
 klines | five-or-more,
 supertux
Architecture: all
Description: Utopia Games/Toys Collection (GUI)
 This meta-package pulls in some interactive games/toys suitable for a
 graphical user interface.
