Source: utopia-polkit
Section: misc
Priority: optional
Maintainer: James Lu <bitflip3@gmail.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 3.9.8
Homepage: https://github.com/utopia-repository/utopia-packages
Vcs-Git: https://github.com/utopia-repository/utopia-packages
Vcs-Browser: https://github.com/utopia-repository/utopia-packages

Package: utopia-polkit
Architecture: all
Depends: ${misc:Depends}
Recommends: policykit-1
Description: Utopia settings to run desktop actions without a password
 This package provides PolicyKit privileges allowing administrators to run
 common actions without being asked for their password:
 .
  * Mounting and checking internal disk drives (through udisks)
  * Setting the CPU speed and policy (through the GNOME CPU frequency applet)
  * Setting the time and timezone (through the GNOME, KDE, Cinnamon)
  * Adding/changing system-wide NetworkManager connections
  * Configuring printers
 .
 It does not change privileges for non-Administrators (users who are not in the
 "adm" or "sudo" group). So this satisfies the typical desktop/laptop use
 case where the user has full control over the hardware anyway.
 .
 This is implemented by shipping a pklocalauthority(8) file.

