# We only want sources, not binaries and build artifacts! ;)
*.deb
*.tar.*
*.changes
*.dsc
*.debhelper.log
*.substvars
*.build*
**/debian/*/
**/files
*~
!**/debian/source/
*.build*
utopia-keyring/*.gpg
**/debhelper-build-stamp
