[submodule "numix-gtk-theme"]
	path = numix-gtk-theme
	url = https://github.com/GLolol/numix-gtk-theme
[submodule "mint-cinnamon-themes"]
	path = mint-cinnamon-themes
	url = https://github.com/GLolol/mint-cinnamon-themes
[submodule "numix-icon-theme"]
	path = numix-icon-theme
	url = https://github.com/GLolol/numix-icon-theme
[submodule "numix-icon-theme-circle"]
	path = numix-icon-theme-circle
	url = https://github.com/GLolol/numix-icon-theme-circle
[submodule "pisg"]
	path = pisg
	url = https://github.com/GLolol/pisg
[submodule "git-up"]
	path = git-up
	url = https://github.com/GLolol/git-up
[submodule "gnome-breeze"]
	path = gnome-breeze
	url = https://github.com/GLolol/gnome-breeze
[submodule "ircmatch"]
	path = ircmatch
	url = https://github.com/GLolol/ircmatch
[submodule "numix-frost-theme"]
	path = numix-frost-theme
	url = https://github.com/GLolol/numix-gtk-themes
	branch = numix-frost+debian
[submodule "numix-frost-light-theme"]
	path = numix-frost-light-theme
	url = https://github.com/GLolol/numix-gtk-themes
	branch = numix-frost-light+debian
