[submodule "gnome-exe-thumbnailer"]
	path = gnome-exe-thumbnailer
	url = git://anonscm.debian.org/pkg-wine/gnome-exe-thumbnailer.git
[submodule "mintmenu"]
	path = mate-menu
	url = https://github.com/GLolol/mintmenu/
	branch = testing
[submodule "numix-gtk-theme"]
	path = numix-gtk-theme
	url = https://github.com/GLolol/numix-gtk-theme
[submodule "mint-cinnamon-themes"]
	path = mint-cinnamon-themes
	url = https://github.com/GLolol/mint-cinnamon-themes
[submodule "numix-icon-theme"]
	path = numix-icon-theme
	url = https://github.com/GLolol/numix-icon-theme
[submodule "numix-icon-theme-circle"]
	path = numix-icon-theme-circle
	url = https://github.com/GLolol/numix-icon-theme-circle
[submodule "gtk3-engines-unico"]
	path = gtk3-engines-unico
	url = https://github.com/GLolol/gtk3-engines-unico.git
