Package: utopia-desktop-xfce
Source: utopia-desktop
Version: 2014.09.11
Architecture: all
Maintainer: James Lu <glolol@overdrive.pw>
Installed-Size: 27
Depends: xfce4, xfce4-terminal | x-terminal-emulator, utopia-desktop, mousepad, ristretto
Recommends: xfce4-goodies, gtk3-engines-xfce, xarchiver | file-roller, galculator, xfburn, xfce4-whiskermenu-plugin, libreoffice-gtk
Suggests: abiword, gnumeric, gigolo
Section: misc
Priority: optional
Homepage: https://github.com/GLolol/utopia-packages
Description: Utopia Desktop Collection - Xfce (meta-package)
 Utopia meta-package for pulling in an Xfce desktop.
