Source: utopia-transitional
Section: oldlibs
Build-Depends: debhelper (>= 9)
Priority: extra
Homepage: https://github.com/GLolol/utopia-packages
Standards-Version: 3.9.8
Maintainer: James Lu <bitflip3@gmail.com>

Package: arc-gtk-theme
Depends: ${misc:Depends}, arc-theme
Architecture: all
Description: Transitional package for arc-theme
 Arc is a flat theme with transparent elements for GTK+ 3, GTK+ 2 and GNOME
 Shell. It supports GNOME, Unity, Budgie, Pantheon, XFCE, Mate, and others.
 .
 This transitional package can be safely removed.

Package: arc-theme-git
Depends: ${misc:Depends}, arc-theme
Architecture: all
Description: Transitional package for arc-theme
 This is a transitional package for arc-theme-git, which can be safely
 removed.
