Source: utopia-transitional
Section: misc
Build-Depends: debhelper (>= 9)
Priority: extra
Homepage: https://github.com/GLolol/utopia-packages
Standards-Version: 3.9.6
Maintainer: James Lu <glolol1@hotmail.com>

Package: gnome-icon-theme-full
Depends: ${misc:Depends}, gnome-icon-theme-extras
Architecture: all
Description: Dependency package for gnome-icon-theme-full
 Dependency package routing gnome-icon-theme-full -> gnome-icon-theme-extras.

Package: wine-dummy
Depends: ${misc:Depends}
Architecture: all
Description: Dummy dependency package for Wine
 This is a dummy dependency package for Wine.
