Source: utopia-transitional
Section: misc
Build-Depends: debhelper (>= 9)
Priority: optional
Homepage: https://github.com/GLolol/utopia-packages
Standards-Version: 3.9.6
Version: 2014.12.28
Maintainer: James Lu <glolol@overdrive.pw>

Package: gnome-icon-theme-full
Depends: ${misc:Depends}, gnome-icon-theme-extras
Architecture: all
Description: Dependency package for gnome-icon-theme-full
 Dependency package routing gnome-icon-theme-full -> gnome-icon-theme-extras.
