Package: utopia-desktop
Version: 0.3.0+1
Architecture: all
Maintainer: James Lu <glolol@overdrive.pw>
Installed-Size: 26
Depends: desktop-base, lxterminal | x-terminal-emulator, xorg
Recommends: utopia-baseutils, menu-xdg, lightdm | x-display-manager, geany | kate, vlc, libreoffice | abiword | calligra, libreoffice | gnumeric | calligra, iceweasel | chromium | firefox | google-chrome-stable | www-browser, galculator, audacity, alsa-utils, gparted, fonts-dejavu, hyphen-en-us, hunspell-en-us, mythes-en-us, deluge | ktorrent, hexchat | irc, openssh-client, gimp, fuse, gvfs, ntfs-3g, smbclient, gdebi | gdebi-kde, synaptic, eject, avahi-daemon, cups, cifs-utils, fonts-droid, fonts-liberation, xfburn | k3b | brasero, evince-gtk | pdf-viewer, thunderbird | icedove | mail-reader
Suggests: simple-scan, gnome-games | kdegames, bleachbit, virtualbox-latest | virtualbox-qt, vlc-plugin-fluidsynth, mediainfo-gui, lxappearance, libreoffice-gtk | libreoffice-gtk3 | libreoffice-kde | libreoffice-gnome, inkscape, mate-desktop-environment-extras | task-xfce-desktop | lxde | utopia-desktop-kde | kde-standard | gnome-core
Section: misc
Priority: optional
Homepage: https://github.com/GLolol/utopia-packages
Description: Utopia Desktop Collection (meta-package)
 A collection of mostly desktop-independent GUI applications.
