Package: utopia-desktop
Version: 2014.09.11
Architecture: all
Maintainer: James Lu <glolol@overdrive.pw>
Installed-Size: 27
Depends: desktop-base | ubuntu-wallpapers, lxterminal | x-terminal-emulator, xorg
Recommends: utopia-baseutils, lightdm | x-display-manager, vlc, iceweasel | firefox, google-chrome-stable, alsa-utils, fuse, gvfs, ntfs-3g, eject, avahi-daemon, cups, cifs-utils, fonts-droid, fonts-liberation, fonts-dejavu, acpi-support, galculator
Suggests: utopia-desktop-mate | utopia-desktop-cinnamon | utopia-desktop-kde | utopia-desktop-xfce | utopia-desktop-lxde, utopia-accessories, utopia-multimedia, utopia-network, utopia-office
Section: misc
Priority: optional
Homepage: https://github.com/GLolol/utopia-packages
Description: Utopia Desktop Collection (meta-package)
 A collection of mostly desktop-independent GUI applications.
