Package: utopia-baseutils
Source: utopia-desktop
Version: 2014.08.24
Architecture: all
Maintainer: James Lu <glolol@overdrive.pw>
Installed-Size: 26
Depends: nano, screen, git, htop, wget | curl, sudo, less, python, bind9-host
Recommends: iptables, command-not-found, file, wget, screenfetch
Suggests: mutt, fail2ban, weechat | irc, elinks | lynx | www-browser, utopia-devel, scrot, ffmpeg (>= 8:1.0.10-dmo1), ffprobe
Section: misc
Priority: optional
Homepage: https://github.com/GLolol/utopia-packages
Description: Utopia Base Collection (meta-package)
 A collection of somewhat useful command-line utilities.
