### Commented entries have reasonable defaults.
### Uncomment to edit them.
# Source: <source package name; defaults to package name>
Section: misc
Priority: optional
# Homepage: <enter URL here; no default>
Standards-Version: 3.9.2

Package: utopia-task-ibus
Version: 0.1.1
Maintainer: James Lu <glolol@overdrive.pw>
# Pre-Depends: <comma-separated list of packages>
Depends: ibus
Recommends: ibus-libpinyin, fonts-arphic-ukai, fonts-arphic-uming, fonts-wqy-zenhei, fonts-wqy-microhei, ibus-gtk, ibus-gtk3, ibus-qt
Suggests: ibus-clutter, qt4-qtconfig, unifont, utopia-desktop
# Provides: <comma-separated list of packages>
# Replaces: <comma-separated list of packages>
# Architecture: all
# Copyright: <copyright file; defaults to GPL2>
# Changelog: <changelog file; defaults to a generic changelog>
# Readme: <README.Debian file; defaults to a generic one>
# Extra-Files: <comma-separated list of additional files for the doc directory>
# Files: <pair of space-separated paths; First is file to include, second is destination>
#  <more pairs, if there's more than one file to include. Notice the starting space>
Description: Utopia meta-package for IBus
 Meta-package for pulling in ibus & ibus-libpinyin components. Running ibus-setup is required to set it up.
