Source: utopia-keyring
Section: misc
Priority: optional
Maintainer: James Lu <james@overdrivenetworks.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 4.1.3
Homepage: https://github.com/utopia-repository/utopia-packages

Package: utopia-keyring
Architecture: all
# apt >= 1.4~beta1 is needed to support ASCII armored PGP keys
Depends: ${misc:Depends}, apt (>= 1.4~beta1)
Description: GnuPG archive keys for the Utopia Repository
 This package contains the GnuPG public keys for the Utopia Repository.
