#!/usr/bin/make -f

KEYRING=utopia-archive-keyring.asc

%:
	dh $@

override_dh_auto_clean:
	rm -f *.gpg *.gpg~

override_dh_auto_test:
	# Make sure the keyring file is valid
	gpg --list-packets $(KEYRING)
