Source: utopia-desktop
Section: misc
Priority: optional
Homepage: https://github.com/GLolol/utopia-packages
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.4
Maintainer: James Lu <glolol@overdrive.pw>

Package: utopia-desktop
Depends: ${misc:Depends}, desktop-base, lxterminal | x-terminal-emulator, xorg
Recommends: utopia-baseutils, menu-xdg, lightdm | x-display-manager, geany | kate, vlc, libreoffice | abiword | calligra, iceweasel | firefox | chromium | www-browser, galculator, audacity, alsa-utils, gparted, fonts-dejavu, hyphen-en-us, hunspell-en-us, mythes-en-us, deluge | ktorrent, hexchat | irc, openssh-client, gimp, fuse, gvfs, ntfs-3g, smbclient, gdebi | gdebi-kde, synaptic, eject, avahi-daemon, cups, cifs-utils, fonts-droid, fonts-liberation, fonts-dejavu, xfburn | k3b | brasero, evince-gtk | pdf-viewer, thunderbird | icedove | mail-reader
Suggests: simple-scan, gnome-games | kdegames, bleachbit, virtualbox-latest | virtualbox-qt, vlc-plugin-fluidsynth, mediainfo-gui, lxappearance, libreoffice-gtk | libreoffice-gtk3 | libreoffice-kde | libreoffice-gnome, inkscape, utopia-desktop-mate | utopia-desktop-xfce | lxde | utopia-desktop-kde | gnome-core
Architecture: all
Description: Utopia Desktop Collection (meta-package)
 A collection of mostly desktop-independent GUI applications.

Package: utopia-desktop-kde
Depends: ${misc:Depends}, kde-runtime, kde-plasma-desktop | kde-plasma-netbook, konsole, kdeutils, kate, okular, ark, gwenview, kmix, ksnapshot
Recommends: utopia-desktop (>= 0.2.0), libreoffice | calligra, libreoffice-kde | calligra, kget, krdc, kdenetwork-filesharing, kgamma, plasma-desktopthemes-artwork, k3b, ffmpegthumbs | mplayerthumbs, kcolorchooser, plasma-nm | plasma-widget-networkmanagement, ktorrent, gdebi-kde, iceweasel | chromium, kmag, kde-config-gtk-style, gtk2-engines-oxygen, gtk3-engines-oxygen
Suggests: kmail, kopete, korganizer, amarok, kdegames, kdeartwork, kdepim, kdegraphics, skanlite, apper, kdeaccessibility, kdewebdev, kdemultimedia, kdenetwork
Conflicts: utopia-desktop (<< 0.2.0)
Architecture: all
Description: Utopia Desktop Collection - KDE edition (meta-package)
 Utopia meta-package for pulling in KDE components.

Package: utopia-baseutils
Depends: ${misc:Depends}, nano, screen, git, htop, wget | curl, sudo, less, python, bind9-host
Recommends: iptables, command-not-found, file, wget, curl, screenfetch
Suggests: mutt, fail2ban, weechat | irc, elinks | lynx | www-browser, utopia-devel, scrot
Architecture: all
Description: Utopia Base Collection (meta-package)
 A collection of somewhat useful command-line utilities.

Package: utopia-devel
Depends: ${misc:Depends}, build-essential, devscripts, dos2unix, utopia-baseutils (>= 0.1.5), lsb-release
Recommends: bash-completion, iftop, cmake, convmv, pkg-config, hwinfo, finger, traceroute, deborphan, nmap, mtr | mtr-tiny, iotop, automake, bison, flex, python-pip, rsync
Suggests: scons, tcpdump, cowbuilder, wireshark, imagemagick, ffmpeg (>=8:1.0.10-dmo1)
Architecture: all
Description: Utopia Developers Collection (meta-package)
 A collection of utilities to assist with system administration, 
 compiling software, and more.

Package: utopia-task-ibus
Depends: ${misc:Depends}, ibus
Recommends: ibus-libpinyin, fonts-arphic-ukai, fonts-arphic-uming, fonts-wqy-zenhei | ttf-wqy-zenhei, fonts-wqy-microhei | ttf-wqy-microhei, ibus-gtk, ibus-gtk3, ibus-qt
Suggests: ibus-clutter, qt4-qtconfig, unifont
Architecture: all
Description: Utopia meta-package for IBus
 Meta-package for pulling in ibus & ibus-libpinyin components.
 Running ibus-setup is required to set it up.

Package: utopia-desktop-mate
Depends: ${misc:Depends}, mate-desktop-environment, galculator
Recommends: mate-desktop-environment-extras, mintmenu (>= 5.5.8~)
Suggests: utopia-themes, caja-dropbox (>= 0.7.1~)
Architecture: all
Description: Utopia Desktop Collection - MATE (meta-package)
 Utopia meta-package for pulling in a MATE desktop.

Package: utopia-desktop-xfce
Depends: ${misc:Depends}, xfce4, xfce4-terminal
Recommends: xfce4-goodies, gtk3-engines-xfce, xarchiver | engrampa | file-roller, galculator, xfburn
Suggests: abiword, gnumeric
Architecture: all
Description: Utopia Desktop Collection - Xfce (meta-package)
 Utopia meta-package for pulling in an Xfce desktop.

Package: utopia-themes
Depends: ${misc:Depends}, mint-themes, mint-x-icons, numix-gtk-theme | numix-kde-theme
Recommends: numix-icon-theme, numix-icon-theme-bevel, numix-icon-theme-circle, numix-icon-theme-shine, numix-icon-theme-utouch, mint-wallpapers-qiana, numix-wallpaper-aurora
Suggests: numix-wallpaper-kitty, numix-wallpaper-lightbulb, numix-wallpaper-mr-numix, numix-wallpaper-mesh, numix-wallpaper-simple-things, numix-wallpaper-winter-chill, lubuntu-icon-theme, ubuntu-wallpapers | lubuntu-artwork
Architecture: all
Description: Utopia Themes Collection (meta-package)
 A collection of themes available for the Linux desktop.