Package: utopia-mate-defaults
Version: 2014.08.28
Architecture: all
Maintainer: James Lu <glolol@overdrive.pw>
Installed-Size: 46
Depends: dconf-gsettings-backend | gsettings-backend, utopia-themes (>= 2014.08.27)
Suggests: utopia-desktop-mate
Section: x11
Priority: optional
Homepage: https://github.com/GLolol/utopia-packages
Description: Utopia Desktop Defaults (MATE Desktop)
 This package contains customized defaults for the MATE desktop environment.
