Source: utopia-defaults
Section: x11
Priority: optional
Maintainer: James Lu <james@overdrivenetworks.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.2.0
Homepage: https://github.com/utopia-repository/utopia-packages
Vcs-Git: https://github.com/utopia-repository/utopia-packages
Vcs-Browser: https://github.com/utopia-repository/utopia-packages

Package: utopia-cinnamon-defaults
Architecture: all
Depends: fonts-noto-hinted,
         cinnamon-common (>= 2.6~),
         cinnamon-desktop-data (>= 2.6.4),
         cinnamon-settings-daemon (>= 2.6),
         muffin-common (>= 2.6~),
         utopia-themes (>= 2019.04.11~)
         ${misc:Depends}
Recommends: libpam-systemd,
            mint-cinnamon-themes,
            utopia-desktop-cinnamon,
            utopia-desktop-defaults (= ${source:Version}),
            utopia-gnomeapps-defaults (= ${source:Version})
Breaks: utopia-cinnamon-tweaks (<< 2017.04.16~)
Replaces: utopia-cinnamon-tweaks (<< 2017.04.16~)
Description: Utopia Desktop Defaults (Cinnamon Desktop)
 This package contains customized defaults for the Cinnamon Desktop.

Package: utopia-desktop-defaults
Architecture: all
Depends: fonts-noto-hinted,
         gsettings-desktop-schemas,
         libgtk-3-common,
         ${misc:Depends}
Recommends: fontconfig, numix-frost-theme
Enhances: lightdm, lightdm-gtk-greeter
Description: Utopia Desktop Defaults (common settings)
 This package contains general customized defaults for desktop systems.
 It currently tweaks the following:
 .
  - GTK+ file chooser defaults
  - Fontconfig rendering defaults
  - Default GTK+ 3 font
  - Defaults for LightDM and LightDM GTK+ Greeter

Package: utopia-gnomeapps-defaults
Architecture: all
Depends: gsettings-desktop-schemas,
         ${misc:Depends}
Recommends: gnome-terminal, utopia-desktop-defaults (= ${source:Version})
Description: Utopia Desktop Defaults (GNOME apps)
 This package contains customized defaults for GNOME applications.

Package: utopia-mate-defaults
Architecture: all
Depends: caja-common (>= 1.8~),
         fonts-noto-hinted,
         marco-common (>= 1.8~),
         mate-desktop-common (>= 1.8~),
         mate-menu,
         mate-panel (>= 1.8~),
         mate-settings-daemon (>= 1.8~),
         mate-terminal-common (>= 1.8~),
         utopia-themes (>= 2019.04.11~),
         ${misc:Depends}
Recommends: utopia-desktop-defaults (= ${source:Version}), utopia-desktop-mate
Description: Utopia Desktop Defaults (MATE Desktop)
 This package contains customized defaults for the MATE Desktop.

Package: utopia-xfce-defaults
Architecture: all
Depends: utopia-themes (>= 2019.04.11~),
         xfce4-datetime-plugin,
         xfce4-pulseaudio-plugin,
         xfce4-sensors-plugin,
         xfce4-whiskermenu-plugin,
         utopia-desktop-defaults (= ${source:Version}),
         ${misc:Depends}
Recommends: htop, utopia-desktop-xfce
Description: Utopia Desktop Defaults (Xfce Desktop)
 This package contains customized defaults for the Xfce Desktop.
