Source: utopia-defaults
Section: x11
Priority: optional
Maintainer: James Lu <james@overdrivenetworks.com>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.2
Homepage: https://github.com/utopia-repository/utopia-packages
Vcs-Git: https://github.com/utopia-repository/utopia-packages
Vcs-Browser: https://github.com/utopia-repository/utopia-packages

Package: utopia-apt-config
Architecture: all
Depends: ${misc:Depends}
Recommends: utopia-keyring
Description: custom APT configuration for the Utopia Repository
 This package contains custom APT configuration that I prefer to use on my
 machines. Specifically, it adds the following:
 .
 * Pinning rules in /etc/apt/preferences.d:
   - Allow automatic updates from experimental
   - Prefer binaries from testing over unstable
 .
 * A rule in /etc/apt/apt.conf.d to always enable installing recommended
   packages.
 .
 Note: because this package installs configuration files, removing its settings
 requires using 'apt-get purge' instead of 'remove'.

Package: utopia-desktop-defaults
Architecture: all
Depends: fonts-noto-hinted,
         gsettings-desktop-schemas,
         libgtk-3-common,
         numlockx,
         ${misc:Depends}
Recommends: fontconfig
Enhances: lightdm, lightdm-gtk-greeter
Description: Utopia Desktop Defaults (common settings)
 This package contains general customized defaults for desktop systems.
 It currently tweaks the following:
 .
  - GTK+ file chooser defaults
  - Fontconfig rendering defaults
  - Default GTK+ 3 font
  - Defaults for LightDM and LightDM GTK+ Greeter

Package: utopia-xfce-defaults
Architecture: all
Depends: xfce4-datetime-plugin,
         xfce4-pulseaudio-plugin,
         xfce4-sensors-plugin,
         xfce4-settings (>= 4.18~),
         xfce4-whiskermenu-plugin,
         utopia-desktop-defaults (= ${source:Version}),
         utopia-themes (>= 2019.04.11~),
         ${misc:Depends}
Recommends: catfish,
            gdmap | baobab,
            htop,
            utopia-desktop-xfce,
            xfce4-panel-profiles (>= 1.0.14~)
Suggests: fileinsight
Description: Utopia Desktop Defaults (Xfce Desktop)
 This package contains customized defaults for the Xfce Desktop.
