### Commented entries have reasonable defaults.
### Uncomment to edit them.
Source: utopia-devel
Section: misc
Priority: optional
Homepage: http://packages.overdrive.pw/
Standards-Version: 3.9.2

Package: utopia-devel
Version: 0.1.0
Maintainer: James Lu <glolol@overdrive.pw>
# Pre-Depends: <comma-separated list of packages>
Depends: build-essential, devscripts, dos2unix, utopia-baseutils (>= 0.1.5), lsb-release
Recommends: bash-completion, iftop, cmake, convmv, pkg-config, hwinfo, finger, traceroute, deborphan, nmap, mtr | mtr-tiny, iotop, automake, bison, flex, python-pip, rsync
Suggests: scons, tcpdump, cowbuilder, wireshark, imagemagick, ffmpeg
# Provides: <comma-separated list of packages>
# Replaces: <comma-separated list of packages>
# Architecture: all
# Copyright: <copyright file; defaults to GPL2>
Changelog: changelog
# Readme: <README.Debian file; defaults to a generic one>
# Extra-Files: <comma-separated list of additional files for the doc directory>
# Files: <pair of space-separated paths; First is file to include, second is destination>
#  <more pairs, if there's more than one file to include. Notice the starting space>
Description: Utopia Developers Collection (meta-package)
 A collection of utilities to assist with system administration, compiling software, and more.

