Package: virtualbox-latest
Version: 4.3+1
Architecture: all
Maintainer: James Lu <glolol@overdrive.pw>
Installed-Size: 26
Depends: virtualbox-4.3
Conflicts: virtualbox-ose
Replaces: virtualbox-ose
Section: contrib/misc
Priority: optional
Description: Oracle Virtualbox virtualization software.
 This package pulls in the latest version of Virtualbox from Oracle
 (mirrored in this repository).
