Package: utopia-desktop-kde
Source: utopia-desktop
Version: 0.3.0+1
Architecture: all
Maintainer: James Lu <glolol@overdrive.pw>
Installed-Size: 26
Depends: kde-runtime, kde-plasma-desktop | kde-plasma-netbook, konsole
Recommends: utopia-desktop (>= 0.2.0), libreoffice | calligra, libreoffice-kde | calligra, kdeutils, kget, krdc, kdenetwork-filesharing, kgamma, plasma-desktopthemes-artwork, kate, okular, ark, gwenview, kmix, ksnapshot, k3b, ffmpegthumbs | mplayerthumbs, kcolorchooser, plasma-widget-networkmanagement, ktorrent, gdebi-kde, iceweasel | chromium | rekonq, kmag, kde-config-gtk-style
Suggests: kmail, kopete, korganizer, amarok, kdegames, kdeartwork, kdepim, kdegraphics, skanlite, apper, kdeaccessibility, kdewebdev, kdemultimedia, kdenetwork, gtk2-engines-oxygen, gtk3-engines-oxygen
Conflicts: utopia-desktop (<< 0.2.0)
Section: misc
Priority: optional
Homepage: https://github.com/GLolol/utopia-packages
Description: Utopia Desktop Collection - KDE edition (meta-package)
 Utopia meta-package for pulling in KDE components.
